.ex {
    width: 500px;
    height: 500px;
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568139555565&di=032b6e4af7a245d19278f452326dfc02&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2Fcdde6bd0a2c0e8b40d8453a4dc145ce2378838be.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: pink;
}